<div class="container p-3">
 <div class="row">
  <div class="col">
   <h1>商品詳細変更(管理者)</h1>
   <%= form_with model: @item,url:admin_item_url do |f| %>
   <%= render "admin/shared/error_messages", resource: @item %> 
   <table>
    <tr>
    <th></th>
    <td></td>
    <td><%= f.file_field :image, placeholder: "商品画像", accept: "image/*" %> </td>
    </tr>

    <tr>
    <th>商品名</th>
    <td></td>
    <td><%= f.text_field :name, autofocus: true, placeholder:""%></td>
    </tr>
 
    <tr>
    <th>商品詳細</th>
    <td></td>
    <td><%= f.text_area :introduction, rows:"5", autofocus: true, placeholder:""%></td>
    </tr>

    <tr>
    <th>商品価格</th>
    <td></td>
    <td><%= f.number_field :price, autofocus: true, placeholder:""%>円</td>
    </tr>
   </table>
   <%= f.submit "変更を保存",class: "mt-5 btn btn-outline-success" %>
   <% end %>

  </div>
 </div>
</div>