<div class="container p-3">
 <h1>商品詳細</h1>
  <div class="row">
   <div class="col-6">
    <%= image_tag @item.get_image(400,400) %>
   </div>
   <div class="col-6">
    <h4>商品名</h4>
    <p><%= @item.name %></p>
    <h4>商品詳細</h4>
    <p><%= @item.introduction %></p>
    <h4>価格(税込)</h4>
    <p><%= number_to_currency(@item.price* 1.1,precision: 0) %></p>
    <% if customer_signed_in? %>
     <%= form_with model: @cart_item ,url:cart_items_path do |f| %>
      <%= f.select :amount, *[1..10] %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit 'カートに追加', class:"btn btn-outline-success" %> 
     <% end %>
    <% end %>
  </div>
 </div>
</div>