<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="container">
<div class="row">
<div class="col text-left m-4">
<%= link_to 'nagano cake', root_path, class:"btn btn-outline-dark"  %>
</div>
<div class="col text-right m-4">
  
   <% if customer_signed_in? %>
    <%= link_to '商品一覧', items_path, class:"btn btn-outline-dark"  %>
    <%= link_to 'カート', cart_items_path, class:"btn btn-outline-dark" %>
    <%= link_to 'マイページ', customers_show_path, class:"btn btn-outline-dark" %>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-outline-dark" %>
    <%= link_to 'About', homes_about_path, class:"btn btn-outline-dark" %>
   <% elsif admin_signed_in?%>
    <%= link_to "商品一覧", admin_items_path, class:"btn btn-outline-dark" %>
    <%= link_to "会員一覧", admin_customers_path, class:"btn btn-outline-dark" %>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-outline-dark" %>
   <% else %>
    <%= link_to '商品一覧', items_path, class:"btn btn-outline-dark"  %>
    <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-outline-dark" %>
    <%= link_to "ログイン", new_customer_session_path, class:"btn btn-outline-dark" %>
    
   <% end %>
    </div>
    </div>
    </div>
    <header>
    </header>
   <%= yield %>
 </body>
</html>
